<div
    class="navbar-area"
    [ngClass]="{'sticky': isSticky}"
>
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light" [class.active]="classApplied">

            <button class="navbar-toggler" type="button" (click)="toggleClass()">
                <span class="burger-menu">
                    <span class="top-bar"></span>
                    <span class="middle-bar"></span>
                    <span class="bottom-bar"></span>
                </span>
            </button>
            <div class="collapse navbar-collapse">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a routerLink="/" class="nav-link" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}">Home <i-feather name="chevron-down"></i-feather></a></li>
                    <li class="nav-item"><a  routerLink="/about-1" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" class="nav-link">About Us <i-feather name="chevron-down"></i-feather></a></li>
                    <li class="nav-item"><a routerLink="/contact" routerLinkActive="active"[routerLinkActiveOptions]="{exact: true}" class="nav-link">Contact</a></li>
                </ul>
                <div class="others-option">
                    <!-- <a routerLink="/cart" class="cart-wrapper-btn"><i-feather name="shopping-cart"></i-feather><span>0</span></a> -->
                    <a routerLink="/" class="btn btn-light">Collaborate with me</a>
                    <a routerLink="/" class="btn btn-primary">Email Me</a>
                </div>
            </div>
        </nav>
    </div>
</div>