<app-navbar-style-one></app-navbar-style-one>

<!-- Banner -->
<div class="main-banner" *ngFor="let bgImage of bannerBGImage;" style="background-image: url({{bgImage.img}});">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <div class="row h-100 justify-content-center align-items-center">
                    <div class="col-lg-5">
                        <div class="hero-content">
                            <h1>Hi, I'm Vishal Chouhan</h1>
                            <p> A passionate Mean Stack Developer and Flutter Developer. With a blend of creativity and technical expertisecraft digital experiences that are not only visually appealing but also highly functional. My journey in software development has equipped me with a deep understanding of web and mobile technologies, allowing me to build robust and scalable solutions. </p>
                            <a routerLink="/" class="btn btn-primary">Know more</a>
                        </div>
                    </div>
                    <div class="col-lg-6 offset-lg-1">
                        <div class="banner-image">
                            <img src="assets/img/banner-image/man.png" class="animate__animated animate__fadeInDown" alt="man">
                            <img src="assets/img/banner-image/code.png" class="animate__animated animate__fadeInUp" alt="code">
                            <img src="assets/img/banner-image/carpet.png" class="animate__animated animate__fadeInLeft" alt="carpet">
                            <img src="assets/img/banner-image/bin.png" class="animate__animated animate__zoomIn" alt="bin">
                            <img src="assets/img/banner-image/book.png" class="animate__animated animate__bounceIn" alt="book">
                            <img src="assets/img/banner-image/dekstop.png" class="animate__animated animate__fadeInDown" alt="dekstop">
                            <img src="assets/img/banner-image/dot.png" class="animate__animated animate__zoomIn" alt="dot">
                            <img src="assets/img/banner-image/flower-top-big.png" class="animate__animated animate__fadeInUp" alt="flower-top-big">
                            <img src="assets/img/banner-image/flower-top.png" class="animate__animated animate__rotateIn" alt="flower-top">
                            <img src="assets/img/banner-image/keyboard.png" class="animate__animated animate__fadeInUp" alt="keyboard">
                            <img src="assets/img/banner-image/pen.png" class="animate__animated animate__zoomIn" alt="pen">
                            <img src="assets/img/banner-image/table.png" class="animate__animated animate__zoomIn" alt="table">
                            <img src="assets/img/banner-image/tea-cup.png" class="animate__animated animate__fadeInLeft" alt="tea-cup">
                            <img src="assets/img/banner-image/headphone.png" class="animate__animated animate__rollIn" alt="headphone">
                            <img src="assets/img/banner-image/main-pic.png" class="animate__animated animate__fadeInUp" alt="main-pic">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<!-- Boxes -->
<div class="boxes-area">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-box">
                    <div class="icon">
                        <i-feather name="server"></i-feather>
                    </div>
                    <h3>Mobile Applications</h3>
                    <p>
                        As a Flutter developer, I specialize in creating cross-platform , responsive and dynamic applications and offering semless  experience</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-box bg-f78acb">
                    <div class="icon">
                        <i-feather name="code"></i-feather>
                    </div>
                    <h3>Dynamic website's</h3>
                    <p>"As a MEAN stack developer i am developing robust web applications which is dynamic and responsive websites that offer seamless user experience </p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-box bg-c679e3">
                    <div class="icon">
                        <i-feather name="users"></i-feather>
                    </div>
                    <h3>AWS</h3>
                    <p>As an AWS-savvy developer, I utilize MySQL and MongoDB, integrating AWS S3, EC2, RDS, Lambda, and API Gateway for robust solutions.</p>
                </div>
            </div>
            <div class="col-lg-3 col-md-6 col-sm-6">
                <div class="single-box bg-eb6b3d">
                    <div class="icon">
                        <i-feather name="git-branch"></i-feather>
                    </div>
                    <h3>Data Bases</h3>
                    <p>
                        As a DB developer, I use MySQL and MongoDB for efficient data storage and retrieval, optimizing schemas and queries.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Cloud Hosting Services -->
<div class="services-area ptb-80 bg-f7fafd">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12 services-content">
                <div class="section-title">
                    <h2>Cloud Hosting Services</h2>
                    <div class="bar"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="database"></i-feather> Cloud databases
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="globe"></i-feather> Website hosting
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="file"></i-feather> File storage
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="trending-up"></i-feather> Forex trading
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="folder"></i-feather> File backups
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="monitor"></i-feather> Remote desktop
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="mail"></i-feather> Email servers
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="cloud"></i-feather> Hybrid cloud
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-6 col-md-12 services-right-image">
                <img src="assets/img/services-right-image/book-self.png" class="animate__animated animate__fadeInDown" alt="book-self">
                <img src="assets/img/services-right-image/box.png" class="animate__animated animate__fadeInUp" alt="box">
                <img src="assets/img/services-right-image/chair.png" class="animate__animated animate__fadeInLeft" alt="chair">
                <img src="assets/img/services-right-image/cloud.png" class="animate__animated animate__zoomIn" alt="cloud">
                <img src="assets/img/services-right-image/cup.png" class="animate__animated animate__bounceIn" alt="cup">
                <img src="assets/img/services-right-image/flower-top.png" class="animate__animated animate__fadeInDown" alt="flower">
                <img src="assets/img/services-right-image/head-phone.png" class="animate__animated animate__zoomIn" alt="head-phone">
                <img src="assets/img/services-right-image/monitor.png" class="animate__animated animate__fadeInUp" alt="monitor">
                <img src="assets/img/services-right-image/mug.png" class="animate__animated animate__rotateIn" alt="mug">
                <img src="assets/img/services-right-image/table.png" class="animate__animated animate__fadeInUp" alt="table">
                <img src="assets/img/services-right-image/tissue.png" class="animate__animated animate__zoomIn" alt="tissue">
                <img src="assets/img/services-right-image/water-bottle.png" class="animate__animated animate__zoomIn" alt="water-bottle">
                <img src="assets/img/services-right-image/wifi.png" class="animate__animated animate__fadeInLeft" alt="wifi">
                <img src="assets/img/services-right-image/cercle-shape.png" class="bg-image rotateme" alt="shape">
                <img src="assets/img/services-right-image/main-pic.png" class="animate__animated animate__fadeInUp" alt="main-pic">
            </div>
        </div>
    </div>
</div>

<!-- Design & Development Services -->
<div class="services-area ptb-80">
    <div class="container">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-lg-6 col-md-12 services-left-image">
                <img src="assets/img/services-left-image/big-monitor.png" class="animate__animated animate__fadeInDown" alt="big-monitor">
                <img src="assets/img/services-left-image/creative.png" class="animate__animated animate__fadeInUp" alt="creative">
                <img src="assets/img/services-left-image/developer.png" class="animate__animated animate__fadeInLeft" alt="developer">
                <img src="assets/img/services-left-image/flower-top.png" class="animate__animated animate__zoomIn" alt="flower-top">
                <img src="assets/img/services-left-image/small-monitor.png" class="animate__animated animate__bounceIn" alt="small-monitor">
                <img src="assets/img/services-left-image/small-top.png" class="animate__animated animate__fadeInDown" alt="small-top">
                <img src="assets/img/services-left-image/table.png" class="animate__animated animate__zoomIn" alt="table">
                <img src="assets/img/services-left-image/target.png" class="animate__animated animate__fadeInUp" alt="target">
                <img src="assets/img/services-left-image/cercle-shape.png" class="bg-image rotateme" alt="shape">
                <img src="assets/img/services-left-image/main-pic.png" class="animate__animated animate__fadeInUp" alt="main-pic">
            </div>
            <div class="col-lg-6 col-md-12 services-content">
                <div class="section-title">
                    <h2>Design & Development</h2>
                    <div class="bar"></div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                </div>
                <div class="row">
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="layout"></i-feather> Responsive Web design
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="code"></i-feather> Angular web development
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="smartphone"></i-feather> Android apps development
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="code"></i-feather> Data Structures & Algorithms
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="smartphone"></i-feather> iOS apps development
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="git-branch"></i-feather> Version Control
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="shopping-cart"></i-feather> E-commerce development
                        </div>
                    </div>
                    <div class="col-lg-6 col-md-6 col-sm-6">
                        <div class="box">
                            <i-feather name="check-circle"></i-feather> Print ready design
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Features -->
<div class="features-area ptb-80 bg-f7fafd">
    <div class="container">
        <div class="section-title">
            <h2>Other Skills</h2>
            <div class="bar"></div>
            <!-- <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p> -->
        </div>
        <div class="row">
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon">
                        <i-feather name="settings"></i-feather>
                    </div>
                    <h3>Technical Team Management</h3>
                    <p>Directed team, ensured clear communication, and facilitated collaboration on project tasks.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon bg-c679e3">
                        <i-feather name="grid"></i-feather>
                    </div>
                    <h3>Problem-solving</h3>
                    <p> Identified and resolved technical issues efficiently to ensure project progress.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon bg-eb6b3d">
                        <i-feather name="bell"></i-feather>
                    </div>
                    <h3>Time Management</h3>
                    <p> Prioritized tasks effectively to meet project deadlines and milestones.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon">
                        <i-feather name="settings"></i-feather>
                    </div>
                    <h3>Collaboration & Adaptability</h3>
                    <p>Adapted to evolving project requirements, collaborated with team members,</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon">
                        <i-feather name="settings"></i-feather>
                    </div>
                    <h3>Client communication</h3>
                    <p>Communicated project progress and addressed client feedback promptly and effectively.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon bg-eb6b3d">
                        <i-feather name="bell"></i-feather>
                    </div>
                    <h3>Self-motivation</h3>
                    <p>Demonstrated initiative and enthusiasm in tackling challenges and learning new technologies independently.</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon bg-eb6b3d">
                        <i-feather name="bell"></i-feather>
                    </div>
                    <h3>Versatility</h3>
                    <p>proficient in both front-end and back-end development technologies</p>
                </div>
            </div>
            <div class="col-lg-6 col-md-6 col-sm-6">
                <div class="single-features">
                    <div class="icon bg-eb6b3d">
                        <i-feather name="bell"></i-feather>
                    </div>
                    <h3>Critical thinking:</h3>
                    <p>Analyzing problems and evaluating multiple solutions to make informed decisions.</p>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Page Title -->
<div class="page-title-area">
    <div class="d-table">
        <div class="d-table-cell">
            <div class="container">
                <h2>Reachout Me</h2>
            </div>
        </div>
    </div>
    <div class="shape1"><img src="assets/img/shape1.png" alt="shape"></div>
    <div class="shape2 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
    <div class="shape3"><img src="assets/img/shape3.svg" alt="shape"></div>
    <div class="shape4"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape5"><img src="assets/img/shape5.png" alt="shape"></div>
    <div class="shape6 rotateme"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape7"><img src="assets/img/shape4.svg" alt="shape"></div>
    <div class="shape8 rotateme"><img src="assets/img/shape2.svg" alt="shape"></div>
</div>

<!-- Contact Info -->
<div class="contact-info-area ptb-80">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <i-feather name="mail"></i-feather>
                    </div>
                    <h3>EMail Me </h3>
                    <p><a  href="mailto:vishalchouhannainpur@gmail.com">Vishalchouhannainpur&#64;gmail.com</a></p>
                    <!-- <p><a href="mailto:info&#64;profun.com">vishal.chouhan.cs&#64;ghrce.raisoni.net</a></p> -->
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <i-feather name="linkedin"></i-feather>
                    </div>
                    <h3>Linkedin</h3>
                    <p ><a href="https://www.linkedin.com/in/vishal-chouhan-61768224a/">click here</a></p>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-6">
                <div class="contact-info-box">
                    <div class="icon">
                        <i-feather name="git-Branch"></i-feather>
                    </div>
                    <h3>Github</h3>
                    <p><a href="https://github.com/VISHALSINGHCHAUHAN942">click here</a></p>
                    <!-- <p><a href="tel:+241 452 4526">+241 452 4526</a></p> -->
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Map -->
<div id="map">
    <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d45326.805635336634!2d-74.2196370186449!3d41.213491375130594!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x89c2dfa9c79e079f%3A0xfb7cbf231a6fe59e!2sDater%20Mountain%20Nature%20Park!5e0!3m2!1sen!2sbd!4v1615638499527!5m2!1sen!2sbd"></iframe> -->
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d14887.786672614911!2d78.9929701043854!3d21.114692306048926!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3bd4954f412ca411%3A0x4fd4cb2d05b49c7d!2sG.%20H.%20Raisoni%20College%20of%20Engineering!5e0!3m2!1sen!2sin!4v1712313706379!5m2!1sen!2sin"></iframe>
</div>

<!-- Contact -->
<div class="contact-area ptb-80">
    <div class="container">
        <div class="section-title">
            <h2>Get In Touch With Me</h2>
            <div class="bar"></div>
            <p>Anything On your Mind. I’ll Be Glad To Assist You!</p>
        </div>
        <div class="row align-items-center">
            <div class="col-lg-6 col-md-12">
                <img src="assets/img/1.png" alt="image">
            </div>
            <div class="col-lg-6 col-md-12">
                <form id="contactForm">
                    <div class="row">
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Name">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <input type="email" class="form-control" placeholder="Email">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Phone">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-6">
                            <div class="form-group">
                                <input type="text" class="form-control" placeholder="Subject">
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <div class="form-group">
                                <textarea class="form-control" cols="30" rows="5" placeholder="Your Message"></textarea>
                            </div>
                        </div>
                        <div class="col-lg-12 col-md-12">
                            <button type="submit" class="btn btn-primary">Send Message</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
